/* Author: Petter Andersson */

body {
  margin: 0px; /*20px*/
  padding: 0px;
  font-family: sans-serif;
  background: rgb(33, 33, 33);
  /*background: lightblue;*/
  /*background-image: url(https://i.imgur.com/VOPXdoh.jpg) no-repeat;*/
}

.mainMenu {
  width: 100vw;
  height: 100vh;
  /*background-image: url(./assets/backgroundMainMenu.jpg) no-repeat;*/
  background: url(./assets/pikachuBackground.gif) no-repeat;
}

.mainMenuSoundDiv {
  margin-left: 250px;
}

.logos {
  padding-top: 50px;
  display: grid; 
  padding-left: 150px;
}

.startButtons {
  padding-left: 600px;
}

.gameDiv {
  margin: 20px;
}

.pokemonShopText {
  padding-left: 5px;
  white-space: pre-line;
  color: white;
  padding-top: 5px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
  text-align: center;
  font-size: 20px;
  line-height: 25px;
}

.pokemonShopEntity {
  margin: 6px;
  padding-bottom: 5px;
  width: 140px;
  height: 180px;
  /*
  border: 2px solid black;
  */
  background-color: rgb(46, 40, 40);
  border-radius: 50px;
  /*background: url(https://i.pinimg.com/originals/7c/0f/eb/7c0feb742c99ac92d76360a0e0ee3d3b.png) no-repeat;
  background-size: 120px 180px;*/
}

.redFont {
  color: red !important;
}

.goldFont {
  color: gold !important;
}

.pokemonShopHalf {
  margin-left: 21px;
}

.pokemonImageDiv{
  height: 90px;
  /*
  border-radius: 50px;
  border: 1px black solid; 
  */
}

.pokemonImageBase {
  margin-top: 50px;
  margin-left: 38px;
  height: 25px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
}

.pokemonInfo {
  position: absolute;
  margin-top: 10px;
  margin-left: 15px;
}

.infoImg {
  margin-top: 1px;
  margin-left: 1px;
  width: 25px;
  height: 25px;
  position: absolute;
  z-index: 2;
}

.infoImg:hover + .infoImgBg{
  background: rgb(38, 207, 38);
}

.infoImgBg {
  margin: auto;
  margin-top: 2px;
  margin-left: 2px;
  width: 23px;
  height: 23px;
  background: white;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.pokemonImg {
  animation: 0.50s ease-in-out 0s 1 reverse both running shrinkDown;
  display: block;
  margin: auto;
}

.pokemonShopEmpty {
  margin-left: 35%;
  margin-top: 60%;
}

.shopInteractDiv {
  padding-top: 30px;
  padding-left: 24px;
}

.pieceImg {
  width: 17px;
  height: 30px;
}

.pieceDiv {
  padding-top: 30px;
}

.soundImg {
  margin-left: 15px;
  margin-top: 12px;
  width: 50px;
  height: 50px;
}

.soundMutedImg {
  margin-left: 15px;
  margin-top: 12px;
  width: 50px;
  height: 50px;
}

.musicImg {
  width: 70px;
  height: 70px;
}

.musicMutedImg {
  width: 70px;
  height: 70px;
}

.updateMessage {
  height: 30px;
}

.actionMessage {
  animation: fadeOutDown 2s ease-in-out 0s infinite;
  margin-top: 25px;
  margin-left: 3px;
  font-size: 14px;
  padding-left: 35px;
  margin-top: 25px;
}

.actionMessagePadding {
  padding-left: 10px !important;
}

.paddingLeft5{
  padding-left: 5px;
}

.paddingRight5{
  padding-right: 5px;
}

.infoPanel {
  height: 300px;
  padding-top: 5px;
  white-space: pre-line;
}

.infoPanelBuff {
  color: rgb(10, 248, 10);
}

.noSelected{
  padding-top: 100px;
  padding-left: 18px;
}

.textAlignCenter {
  text-align: center;
}

.boardColumn {
  display: block;
}

.flex {
  display: flex;
}

.center {
  margin: auto;
}

.centerWith50{
  margin: auto;
  width: 50%;
}

.marginTop5 {
  margin-top: 5px;
}

.marginTop15 {
  margin-top: 15px;
}

.boardDiv {
  background: url(./assets/pokeballOpacity.png) no-repeat;
  background-position: 8px 10px; 
}

.boardDivBattle {
  background: url(./assets/pokeball.png) no-repeat;
  background-position: 8px 10px; 
}

.handDiv {
  background: url(./assets/handBg.png) no-repeat;
}

.cell {
  /*border: 1px solid lightblue;*/
  /*border: 1px solid rgb(33, 33, 33);*/
  border: 1px solid black;
  background-color:rgba(0, 0, 0, 0);
  border-radius: 8px;
  width: 85px; 
  height: 85px;
  position: relative;
  /*background: url(https://i.gyazo.com/f5c31403dc3840b9b276c3e8d3e178d3.png) no-repeat;*/
  /*background: url(./assets/grass2.gif) no-repeat;*/
  background-size: 85px 85px;
}

.cell .markedUnit {
  z-index: 30;
}

.markedUnit {
  border: 1px solid yellow;
  /*
  outline-style: groove;
  outline-color: gold;
  outline-width: thin;*/
  box-shadow: 0 0 7pt 3pt yellow;
}

:focus { outline: none; }

.text_shadow {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.oldNormalButton {
	border: white;
  border-style: solid;
	height: 45px;
  /*width: 50px;*/
  margin-right: 5px;	
  color: white;
  border-radius: 5px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
  background-color: rgba(1, 1, 1, 0.7);
  font-weight: bold;
  /*font-size: 16pt;*/
}

.normalButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
  /*font-size:17px;
   padding:12px 44px;
  */
	font-weight:bold;
	text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
  height: 45px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.normalButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:-moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:-ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}

.normalButton:active {
	position:relative;
	top:1px;
}

.chatTypingDiv {
  padding-left: 5px;
}

.growAnimation {
  animation: growText 1s ease-in-out 0s alternate infinite both running;
}

.goldImage {
  height: 30px;
  width: 30px;
  padding-top: 1px;
  padding-left: 5px;
}

.goldImageSmall {
  height: 18px;
  width: 18px;
  padding-top: 1px;
  padding-left: 5px;
}

.goldImageTextSmall {
  margin-top: 3px; 
  margin-left: 7px;
}

.biggerText{
  font-size: 22px;
}

.timerText{
  text-align: center;
  font-size: 70px;
}

.timerDiv{
  height: 80px;
}

@keyframes shrinkDown {
  from  {transform: scale(1);}
  to    {transform: scale(0.3);}
}

@keyframes invis {
  from  {opacity: 0.5;}
  to    {opacity: 1;}
}

@keyframes fadeOut {
  from  {opacity: 1;}
  to    {opacity: 0.01;}
}

@keyframes disco {
  from  {margin-left: 0;}
  to    {margin-left: 30px;}
}

@keyframes grow {
  from  {transform: scale(1);}
  to    {transform: scale(1.05);}
}

@keyframes growText {
  from  {font-size: 12px;}
  to    {font-size: 13px;}
}

@keyframes fadeOutDown {
  from  {
    margin: auto;
    opacity: 1;
    margin-top: 0px;
  }
  to    
  {
    margin: auto;
    opacity: 0.01;
    margin-top: 20px;
  }
}

.messageUpdate {
  animation: 0.5s ease-in-out 0s infinite alternate both running invis;
}

.messageUpdate-enter {
  opacity: 0.01;
}

.messageUpdate-enter.messageUpdate-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
/*
.messageUpdate::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}
*/
.test_animation {
  animation: attackUp 0.5s ease-in-out 0s alternate infinite both running;
}

.winningAnimation {
  animation: jump 0.5s ease-in-out 0s alternate infinite both running;
}

@keyframes jump {
  from  {transform: translate(0px, -20px);}
  to    {transform: translate(0px);}
}

@keyframes attackN {
  from  {transform: translate(0px, -40px);}
  to    {transform: translate(0px);}
}

@keyframes attackNE {
  from  {transform: translate(40px, -40px);}
  to    {transform: translate(0px);}
}

@keyframes attackNW {
  from  {transform: translate(-40px, -40px);}
  to    {transform: translate(0px);}
}

@keyframes attackW {
  from  {transform: translate(-40px);}
  to    {transform: translate(0px);}
}

@keyframes attackE {
  from  {transform: translate(40px);}
  to    {transform: translate(0px);}
}

@keyframes attackS {
  from  {transform: translate(0px, 40px);}
  to    {transform: translate(0px);}
}

@keyframes attackSE {
  from  {transform: translate(40px, 40px);}
  to    {transform: translate(0px);}
}

@keyframes attackSW {
  from  {transform: translate(-40px, 40px);}
  to    {transform: translate(0px);}
}

.animateN {
  animation: attackN 0.3s ease-in 0s alternate 1 both running;
}

.animateNW {
  animation: attackNW 0.3s ease-in 0s alternate 1 both running;
}

.animateNE {
  animation: attackNE 0.3s ease-in 0s alternate 1 both running;
}

.animateW {
  animation: attackW 0.3s ease-in 0s alternate 1 both running;
}

.animateE {
  animation: attackE 0.3s ease-in 0s alternate 1 both running;
}

.animateS {
  animation: attackS 0.3s ease-in 0s alternate 1 both running;
}

.animateSW {
  animation: attackSW 0.3s ease-in 0s alternate 1 both running;
}

.animateSE {
  animation: attackSE 0.3s ease-in 0s alternate 1 both running;
}

.animateDead {
  animation: shrinkDown 1s ease-in 0s alternate 1 both running;
}


.example-enter {
  transform: scale(0.3);
}

.example-enter.example-enter-active {
  transform: scale(1);
  transition: all 300ms ease-in;
}

/*
.example-leave {
  transform: opacity(0);
}

.example-leave.example-leave-active {
  transform: scale(0.01);
  transition: all 500ms ease-in;
}
*/

.boardBuffs{
  height: 240px;
}

.textList {
  white-space: pre-line;
}

.buffText {
  font-size: 10px;
  position: absolute;
  z-index: 10;
}

.helpText {
  white-space: pre-line;
  padding-left: 5px;
  margin-top: 5px;
  overflow: auto;
  height: 310px;
  width: 550px;
}

.textInput {
  width: 300px;
  max-width: 300px;
  border-radius: 4px;
}

.barDiv {

}

.absolute {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.hpBar {
  text-align: center;
  border: 1px solid black;
  position: absolute; 
  margin-top: 69px;
  font-size: 12px;
}

.friendlyBar {
  background-color: green;
}

.enemyBar {
  background-color: red;
}

.playerHpBarDiv {
  border: 1px dotted black;
  border-radius: 10px;
  width: 150px;
  height: 30px;
  position: relative;
}

.playerHpBar {
  text-align: center;
  position: absolute; 
  background-color: green;
  height: 26px;
  border-radius: 10px;
  padding-top: 5px;
}

.playerHpBarText {
  padding-left: 85px;
  padding-top: 4px;
}

.scoreboard {
  right: 0px;
  margin-left: auto;
  margin-right: 0;
  float: right;
  display: flex;
  justify-content: flex-end;
  clear: both;
}

.playerScoreboardContainer {
  border-radius: 5px;
  width: 150px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.playerScoreboardInner{
  margin-left: 5px;
  position: relative;
}

.streak {
  margin-left: 0px;
}

.manaBar {
  background-color: blue;
  text-align: center;
  border: 1px solid black;
  position: absolute; 
  z-index: 30;
  margin-top: 83px;
  font-size: 12px;
}

.colorPurple {
  background-color: rgb(117, 34, 117);
}

.levelDiv {
  position: relative;
  height: 26px;
  padding-top: 5px;
  padding-bottom: 2px;
}

.levelBar {
  background-color: green;
  height: 26px;
  position: absolute;
  top: 0px;
  left: 0px;
  /*border: 1px solid lightblue;*/
  border: 1px solid rgb(33, 33, 33);
  border-radius: 10px;
  padding-top: 5px;
}

.levelText {
  padding-left: 310px;
  padding-top: 4px;
}

.levelTextExp {
  padding-top: 4px;
}

.overlap {
  position: absolute;
  top: 0px;
  left: 0px;
}

.lockImage {
  height: 45px;
  width: 27px;
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.shineLock {
  /* TODO Make locked lock shine*/
}

.refreshShopImage {
  height: 65px;
  width: 35px;
}

.type {
  padding: 2px;
}

.typeLeft {
  padding-right: 2px;
  /*margin-right*/
}

.typeBonusText {
  position: absolute;
  font-size: 11px;
  left: 32px;
}

.typeBonusTextBelow {
  font-size: 11px;
  position: absolute;
  top: 40px;
}

.typeImg {
  position: absolute;
  width: 35px;
  height: 35px;
}

.typeElement {
  position: relative;
}

.typeTier {
  position: absolute;
  font-size: 20px;
  left: 11px;
  top: 7px;
}

.typeDiv {
  margin-left: 5px;
}

/*
  Rarity colors
  rgb(58, 49, 49)
*/
/*
  TODO: Edit Shop
  background: url(./assets/pokeball.png) no-repeat;
  background-position: 10px 10px; 
  background-size: 10px 10px;
*/
.costColor1 {
  background-color: rgb(123,123,123);
}

.costColor2 {
  background-color: rgb(57, 120, 35);
}

.costColor3 {
  background-color: rgb(18, 90, 159);
}

.costColor4 {
  background-color: rgb(131, 47, 184);
}

.costColor5 {
  background-color: rgb(255, 118, 28);
}

.costColorText1 {
  color: white;
}

.costColorText2 {
  color: lightblue;
}

.costColorText3 {
  color: rgb(28, 117, 201);
}

.costColorText4 {
  color: rgb(131, 47, 184);
}

.costColorText5 {
  color: rgb(255, 118, 28);
}

.poison {
  background-color: rgb(88, 231, 88);
}

.bug {
  background-color: rgb(139, 206, 39);
}

.fire {
  background-color: rgb(255, 64 ,64);
}

.ground {
  background-color: rgb(114, 65, 16);
}

.normal {
  background-color: rgb(240, 240, 240);
}

.flying {
  background-color: rgb(120, 149, 201);
}

.electric {
  background-color: rgb(255, 238,0);
}

.water {
  background-color: rgb(0, 170, 255);
}

.grass {
  background-color: rgb(51, 187, 51);
}

.ice {
  background-color: lightblue;
}

.fighting {
  background-color: #964B00;
}

.psychic {
  background-color: rgb(204, 0, 221);
}

.rock {
  background-color: rgb(51, 28, 6);
}

.ghost {
  background-color: rgb(139, 39, 148);
}

.dark {
  background-color: rgb(51, 51, 51);
}

.dragon {
  background-color: rgb(174, 153, 98);
}

.steel {
  background-color: rgb(192, 192, 192);
}

.fairy {
  background-color: rgb(224, 58, 131);
}