.pokemonShopText {
  padding-left: 5px;
  white-space: pre-line;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
  text-align: center;
  font-size: 20px;
}

.pokemonShopEntity {
  margin: 5px;
  padding-bottom: 5px;
  background-color: gray;
  width: 130px;
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  /*background: url(https://i.pinimg.com/originals/7c/0f/eb/7c0feb742c99ac92d76360a0e0ee3d3b.png) no-repeat;
  background-size: 120px 180px;*/
}

.pokemonImageDiv{
  height: 90px;
}

.pokemonImg {
  display: block;
  margin: auto;
}

.pokemonShopEmpty {
  padding-left: 35%;
  padding-top: 50%;
}

.paddingLeft5{
  padding-left: 5px;
}

.paddingRight5{
  padding-right: 5px;
}

.boardRow {
  display: block;
}

.flex {
  display: flex;
}

.cell {
  border: 1px solid #fff;
  border-radius: 5px;
  width: 70px; 
  height: 70px;
  background-color: gray;
}

.text_shadow {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;  
}

.normalButton {
	border: black;
  border-style: solid;
	height: 35px;
  /*width: 50px;*/
  margin-right: 5px;	
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000; 
  background-color: rgba(1, 1, 1, 0.7);
  font-weight: bold;
  /*font-size: 16pt;*/
}

body {
  margin: 20px;
  padding: 0;
  font-family: sans-serif;
  background: white;
  /*background-image: url(https://i.imgur.com/VOPXdoh.jpg) no-repeat;*/
}

.goldImage {
  height: 30px;
  width: 30px;
  padding-top: 1px;
  padding-left: 5px;
}

.type {
  padding: 1px;
}

.typeLeft {
  margin-right: 2px;
}

.poison {
  background-color: rgb(88, 231, 88);
}

.bug {
  background-color: rgb(139, 206, 39);
}

.fire {
  background-color: red;
}

.ground {
  background-color: rgb(114, 65, 16);
}

.normal {
  background-color: white;
}

.flying {
  background-color: rgb(120, 149, 201);
}

.electric {
  background-color: yellow;
}

.water {
  background-color: blue;
}

.grass {
  background-color: green;
}

.ice {
  background-color: lightblue;
}

.fighting {
  background-color: #964B00;
}

.psychic {
  background-color: purple;
}

.rock {
  background-color: rgb(39, 21, 4);
}

.ghost {
  background-color: 964B00;
}

.dark {
  background-color: black;
}

.dragon {
  background-color: rgb(61, 60, 60);
}

.steel {
  background-color: gray;
}